#Sun {
    background:radial-gradient(ellipse at center, #ffd000 1%,#f9b700 39%,#f9b700 39%,#e06317 100%);
    width: 40px;
    height: 40px;
    position:absolute;
    margin-top: 35vh;
    border-radius: 50%;
}
#Mercury {
    background-color: rgb(201, 187, 177);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position:absolute;
    margin-top: 37.5vh;
    margin-left: 20px;
    animation: GFGMerc 7.23s infinite linear;
}
#Venus {
    background: radial-gradient(ellipse at right, rgb(212, 174, 123), rgb(151, 94, 37));
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    margin-left: 20px;
    margin-top: 37.5vh;
    animation: GFGVen 18.455s infinite linear;
}
#Earth {
    background: radial-gradient(ellipse at left,#0073ff,#17e02b);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    margin-left: 20px;
    margin-top: 37.5vh;
    animation: GFGEarth 30s infinite linear;
}
#Mars {
    background-color: rgb(255, 35, 35);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    margin-left: 20px;
    margin-top: 37.5vh;
    animation: GFGMars 56.424s infinite linear;
}
#Jupiter {
    background: radial-gradient(ellipse at center,rgb(150, 28, 28),rgb(161, 102, 21));
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    margin-left: 20px;
    margin-top: 37.5vh;
    animation: GFGJup 355.8s infinite linear;
}
#Saturn {
    background-color: rgb(203, 187, 105);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    margin-left: 20px;
    margin-top: 37.5vh;
    box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
    animation: GFGSat 883.8s infinite linear;
}

#Uranus {
    background-color: rgb(99, 226, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    margin-left: 20px;
    margin-top: 37.5vh;
    animation: GFGUra 2520.3s infinite linear;
}
#Neptune {
    background-color: rgb(0, 119, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    margin-left: 20px;
    margin-top: 37.5vh;
    animation: GFGNep 4943.7s infinite linear;
}
@keyframes GFGMerc { 
    0% { 
        transform: rotate(0deg)  
              translateY(40px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(40px) rotate(-360deg); 
    } 
} 
@keyframes GFGVen { 
    0% { 
        transform: rotate(0deg)  
              translateY(80px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(80px) rotate(-360deg); 
    } 
} 
@keyframes GFGEarth { 
    0% { 
        transform: rotate(0deg)  
              translateY(110px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(110px) rotate(-360deg); 
    } 
} 
@keyframes GFGMars { 
    0% { 
        transform: rotate(0deg)  
              translateY(150px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(150px) rotate(-360deg); 
    } 
}
@keyframes GFGJup { 
    0% { 
        transform: rotate(0deg)  
              translateY(200px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(200px) rotate(-360deg); 
    } 
}
@keyframes GFGSat { 
    0% { 
        transform: rotate(0deg)  
              translateY(250px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(250px) rotate(-360deg); 
    } 
}
@keyframes GFGUra { 
    0% { 
        transform: rotate(0deg)  
              translateY(310px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(310px) rotate(-360deg); 
    } 
}
@keyframes GFGNep { 
    0% { 
        transform: rotate(0deg)  
              translateY(340px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(360deg)  
              translateY(340px) rotate(-360deg); 
    }
}

.space-grotesk-one {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

player-name {
    color: white;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}
section:nth-child(1){
    flex: 1.25;
}
section:nth-child(2) {
    flex: 1;
}
section:nth-child(3) {
    float: right;
}

body {
    margin-left: 1%;
    margin-right: 1%;
    font-family: Space Grotesk;
    /*background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fHw%3D'); */
    background-color: black;
    flex: 1;display: flex;
    flex-direction: column;
}

span.player {
    color:white;
    float: right;
    margin-top: 1%;
}

div.out {
    float: right;
}

span #player-messages {
    color:white;
    float: right;
    margin-top: 1%;
}

span.simulate {
    color:white;
    float: right;
    margin-top: 1%;
}

h4 {
    color:white;
    margin-top: 1%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
}



